* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*NavBar*/
.ConteinerBanner,
img {
  height: 20vh;
  width: 100%;
}

/*CardYear*/
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background: rgba(0, 156, 180, 1);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  font-weight: bolder;
  color: white;
}
.imgCard {
  border-radius: 17px;
  height: 170px;
  width: 225px;
}

.card:hover {
  border: 1px solid white;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.ConteinerCardMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.programa {
  background-color: rgba(245, 245, 245, 1);
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}
.programa:hover {
  border: 1px solid white;
  transform: scale(1.05);
}
.programa:active {
  width: 500px;
}
button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  background-color: darkslategray;
}
button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%),
    inset 0px -0.1em 0px darkslategray;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em darkslategray;
  transform: translateY(0em);
}
.ConteinerMenuSubprogram {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 10px;
  padding: 7px;
}
li {
  list-style: none;
  margin-bottom: 5px;
}
a {
  text-decoration-line: none;
  color: black;
}

/*Main*/
.ConteinerCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100vw;
  min-height: 80vh;
}
.ConteinerMain {
  background-color: rgba(156, 156, 156, 1);
  min-height: 80vh;
}

/*Menu Activity*/
.MenuActivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 30%;
  height: 80vh;
}
.ConteinerActivity {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: rgba(156, 156, 156, 1);
  min-height: 80vh;
  width: 100%;
  padding: 5px;
}
.Activity {
  background-color: rgba(245, 245, 245, 1);
  width: 300px;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}
.Activity:hover {
  border: 1px solid white;
  transform: scale(1.05);
}
.MenuOptions {
  width: 40%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Options {
  background-color: rgba(245, 245, 245, 1);
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}
.Options:hover {
  border: 1px solid white;
  transform: scale(1.05);
}
.MenuOptionsAux {
  display: flex;
  justify-content: space-around;
  background-color: rgba(156, 156, 156, 1);
  padding: 10px;
}
.MenuPlanification {
  width: 90%;
  min-height: 80vh;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.ConteinerColumn {
  display: flex;
  width: 100%;
  height: 70%;
}
.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  gap: 10px;
}
.Form {
  background-color: rgba(156, 156, 156, 1);
  width: 400px;
  height: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}
.ButtonPlanification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

/*Footer*/
.ConteinerFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: rgb(204, 204, 204);
}
.ConteinerContacto {
  display: flex;
  flex-direction: column;
}
.ConteinerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormDescription {
  width: 100%;
  min-height: 500px;
  background-color: rgb(227, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.buttonCloseForm {
  align-self: start;
  justify-self: end;
  width: 40px;
  height: 35px;
  padding: 0;
}
h1 {
  width: 100%;
  text-align: center;
}
.ConteinerTitle {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

/*Periodo*/
.ConteinerDate {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ConteinerRange {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  padding: 20px;
}
.react-datepicker-wrapper{
  width: 240.300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.react-datepicker__input-container,
  .react-datepicker__input-container input{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ConteinerDay{
  width: 30%;
  min-height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d3d3d3;
}
.ConteinerBigDate{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.SaveChange{
  margin-top: 5px;
  margin-bottom: 5px;
}
.ConteinerDaysSelected{
  width: 90%;
  min-height: 200px;
}
span{
  font-weight: bolder;
}

/*Form PIE*/
.FormPie{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ConteinerEje{
  width: 90%;
  height: 40%;  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(222, 222, 222);
}
.ConteinerPlan{
  width: 90%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(222, 222, 222);
}
.FormPlan{
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.TitlePie{
  margin: 5px;
}
.SubtitlePie{
  align-self: start;
}
.FormEje{
  width: 70%;
}
.ConteinerChecksPlan{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Lie{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5px;
  justify-content: space-around;
}
.Eje{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

/*Form ObjetivoEstrategico*/
.FormObjetivo{
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(222, 222, 222);
}
.FormObj{
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Obj{
  width: 100%;
  height: 80%;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  justify-content: space-around;
}
.SubtitleObj{
  margin: 5px;
}

/*FormArSecUU*/
.FormArSecuu{
  width: 100%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 20px;
}
.Areas{
  width: 100%;
  min-height: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 222, 222);
  padding: 20px;
  border-radius: 5px;
}
.Secretarias{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 222, 222);
  padding: 20px;
  border-radius: 5px;
}
.UUAA{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 222, 222);
  padding: 20px;
  border-radius: 5px;
}
.SelectArea{
  width: 90%;
  margin-top: 10px;
}
.SelectSec{
  width: 90%;
  margin-top: 10px;
}
.SelectUUAA{
  width: 90%;
  margin-top: 10px;
}
.parrafo{
  align-self: flex-start;
  margin-bottom: 5px;
}

/*Form Metas*/
.FormMetas{
  width: 100%;
  min-height: 400px;
  background-color: rgb(227, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ConteinerDescriptionMetas{
  width: 90%;
  min-height:60px ;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}
.Resultados{
  width: 90%;
  min-height: 20%;
  padding: 7px;
}
.ConteinerUbicacion{
  width: 90%;
  min-height: 20%;
  padding: 7px;
  display: flex;
  align-items: flex-start;
}
.ConteinerDescripcion{
  width: 100%;
  display: flex;
}
.ResultadoEsperado{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  padding: 7px;
}
.Ubicacion{
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  padding: 7px;
}
.ResultadoLogrado{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  padding: 7px;
}
.Observaciones{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  padding: 7px;
}
.Descripcion{
  width: 90%;
  display: flex;
  flex-direction: column;
}
.SubtituloMetas{
  font-weight: bolder;
}
.ConteinerButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 70px;
}
.ButtonEdit{
  width: 50px;
  height: 50px;
  padding: 7px;
}
.ButtonDeleteDate{
  width: 35px;
  height: 35px;
  padding: 5px;
}
.ButtonDeleteUbi{
  width: 50px;
  height: 50px;
  padding: 7px;
  margin-top: 18px;
}

.ConteinerGrande{
width: 100%;
display: flex;
justify-content: center;
align-items: start;
gap: 5px;
}

.imgboton{
  width: 24px;
  height: 24px;
}

.ParrafoDescripcion{
  width: 100%;
  min-height: 20px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}
.ParrafoResultados{
  width: 100%;
  min-height: 20px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}
.ParrafoObservaciones{
  width: 100%;
  min-height: 20px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}
.rowForm{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.check{
  width: 50px;
  height: 50px;
  padding: 0px;
}
.containerCheck {
  display:inline-block;
  position:relative;
}
.textCheck{
  position:absolute;
  top:0;
  left:0;
  padding:10px;
  margin:0;
  z-index:-1;
  font-size: small;
}

.containerCheck:hover .textCheck{
  z-index:+1;
}
.containerCheck:hover .check{
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
}
.ConteinerFechas{
  display: flex;
  flex-direction: column;
}
.rowFecha{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

