* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/*NavBar*/

.invalid-tooltip {
	font-size: 0.6rem;
}

.bg-color-primary {
	background-color: #08443c;
}

.bg-color-secondary {
	background-color: #333c4e;
}

.bg-color-slate {
	background-color: #f5f5f5;
}

.NavBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #08443c;
}
.NavBar a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}

.imgCard {
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #009cb3;
	object-fit: cover;
}
.fontYear {
	color: white;
	font-weight: bolder;
}
.ConteinerCardMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 400px;
	min-height: 400px;
	gap: 20px;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.959);
}
.menu {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
}
.programa {
	background-color: rgba(245, 245, 245, 1);
	padding: 10px;
	border-radius: 9px;
	cursor: pointer;
	transition: all 0.5s;
}
.programa:hover {
	border: 1px solid white;
	transform: scale(1.05);
}
.programa:active {
	width: 500px;
}
.ConteinerMenuSubprogram {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(245, 245, 245, 1);
	border-radius: 10px;
	padding: 7px;
}
li {
	list-style: none;
	margin-bottom: 5px;
}
a {
	text-decoration-line: none;
	color: black;
}

/*Main*/
.ConteinerCards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 80vh;
}
.ConteinerMain {
	background-color: rgb(255, 255, 255);
	min-height: 80vh;
}

/*Menu Activity*/
.MenuActivity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 30%;
	min-height: 70vh;
	padding: 10px;
	border: 3px solid #c0c0c0;
}
.ConteinerActivity {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 80vh;
	width: 100%;
	padding: 10px;
}
.Activity {
	background-color: rgba(245, 245, 245, 1);
	width: 200px;
	height: 50px;
	padding: 10px;
	border-radius: 9px;
	cursor: pointer;
	transition: all 0.5s;
}
.Activity:hover {
	border: 1px solid white;
	transform: scale(1.05);
}
.MenuOptions {
	width: 30%;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	gap: 20px;
	border-radius: 10px;
}
.Options {
	background-color: rgb(214, 214, 214);
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 10px;
	border-radius: 9px;
	cursor: pointer;
	transition: all 0.5s;
}
.Options:hover {
	border: 1px solid white;
	transform: scale(1.05);
}
.MenuOptionsAux {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background-color: rgb(233, 233, 233);
}
.MenuPlanification {
	width: 90%;
	min-height: 80vh;
	border-radius: 5px;
	background-color: rgba(245, 245, 245, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.ConteinerColumn {
	display: flex;
	width: 100%;
	height: 70%;
}
.Column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 50%;
	gap: 10px;
}
.Form {
	background-color: rgba(156, 156, 156, 1);
	width: 400px;
	height: 80px;
	text-align: center;
	padding: 10px;
	border-radius: 9px;
	cursor: pointer;
}
.ButtonPlanification {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50px;
}

/*Footer*/
.ConteinerFooter {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20vh;
	width: 100%;
	background-color: rgb(245, 245, 245);
}
.ConteinerContacto {
	display: flex;
	flex-direction: column;
}
.ConteinerLinks {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.FormDescription {
	width: 100%;
	min-height: 500px;
	display: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.FormOrgInst {
	width: 100%;
	min-height: 500px;
	background-color: rgb(227, 230, 230);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	padding: 10px;
}
.ListaInstituciones {
	width: 100%;
	min-height: 300px;
	background-color: rgb(243, 243, 243);
	padding: 10px;
}
.ListaInstituciones,
h3 {
	font-weight: 100;
}
.inputInstituciones {
	border: 1px solid rgb(187, 187, 187);
	height: 30px;
	width: 300px;
	font-size: medium;
	padding: 5px;
}
.FormOrgInst,
h2 {
	align-self: center;
}
.buttonCloseForm {
	align-self: start;
	justify-self: end;
	width: 40px;
	height: 35px;
	padding: 0;
}
h1 {
	width: 100%;
	text-align: center;
}
.ConteinerTitle {
	display: flex;
	align-items: flex-end;
	width: 100%;
	border-radius: 5px;
	background-color: #c0c0c0;
}

/*Periodo*/
.ConteinerDate {
	width: 60%;
	height: 515px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 3px solid #c0c0c0;
	border-radius: 10px;
	padding: 10px;
}
.ConteinerRange {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 80%;
	padding: 20px;
}
.react-datepicker-wrapper {
	width: 240.3px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.react-datepicker__input-container,
.react-datepicker__input-container input {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.ConteinerDay {
	width: 30%;
	min-height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #c0c0c0;
}
.ConteinerBigDate {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}
.SaveChange {
	margin-top: 5px;
	margin-bottom: 5px;
}
.ConteinerDaysSelected {
	width: 90%;
	min-height: 200px;
}
span {
	font-weight: bolder;
}

/*Form PIE*/
.FormPie {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}
.ConteinerEje {
	width: 90%;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #c0c0c0;
}
.ConteinerPlan {
	width: 90%;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #c0c0c0;
}
.FormPlan {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.TitlePie {
	margin: 5px;
}
.SubtitlePie {
	align-self: start;
}
.FormEje {
	width: 70%;
}
.ConteinerChecksPlan {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
input.form-check-input:checked {
	background-color: #198754;
	border-color: #198754;
}
.Lie {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5px;
	justify-content: space-around;
}
.Eje {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	justify-content: space-between;
}

/*Form ObjetivoEstrategico*/
.FormObjetivo {
	width: 90%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(222, 222, 222);
}
.FormObj {
	width: 80%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.Obj {
	width: 100%;
	height: 80%;
	display: flex;
	margin-left: 5px;
	flex-direction: column;
	justify-content: space-around;
}
.SubtitleObj {
	margin: 5px;
}

/*FormArSecUU*/
.FormArSecuu {
	width: 100%;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	gap: 20px;
}
.Areas {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(222, 222, 222);
	padding: 20px;
	border-radius: 5px;
}
.Secretarias {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(222, 222, 222);
	padding: 20px;
	border-radius: 5px;
}
.UUAA {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(222, 222, 222);
	padding: 20px;
	border-radius: 5px;
}
.SelectArea {
	width: 90%;
	margin-top: 10px;
}
.SelectSec {
	width: 90%;
	margin-top: 10px;
}
.SelectUUAA {
	width: 90%;
	margin-top: 10px;
}
.parrafo {
	align-self: flex-start;
	margin-bottom: 5px;
}

/*Form Metas*/
.FormMetas {
	width: 100%;
	min-height: 400px;
	background-color: rgb(227, 230, 230);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.ConteinerDescriptionMetas {
	width: 90%;
	min-height: 60px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 10px;
	border: 3px solid #c0c0c0;
}
.Resultados {
	width: 90%;
	min-height: 20%;
	padding: 7px;
}
.ConteinerUbicacion {
	width: 100%;
	min-height: 20%;
	padding: 7px;
	display: flex;
	align-items: flex-start;
}
.ConteinerDescripcion {
	width: 100%;
	display: flex;
}
.ResultadoEsperado {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 50%;
	padding: 7px;
}
.Ubicacion {
	width: 90%;
	display: flex;
	flex-direction: column;
	min-height: 50%;
	padding: 7px;
}
.ResultadoLogrado {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 50%;
	padding: 7px;
}
.Observaciones {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 50%;
	padding: 7px;
}
.Valoraciones {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 50%;
	padding: 7px;
}
.Descripcion {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.SubtituloMetas {
	font-weight: bolder;
}
.ConteinerButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 70px;
}
.ButtonEdit {
	width: 50px;
	height: 50px;
	padding: 7px;
}
.ButtonDeleteDate {
	width: 35px;
	height: 35px;
	padding: 5px;
}
.ButtonDeleteUbi {
	width: 50px;
	height: 50px;
	padding: 7px;
	margin-top: 18px;
}

.ConteinerGrande {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}

.imgboton {
	width: 24px;
	height: 24px;
}
.ParrafoDescripcion {
	width: 100%;
	min-height: 20px;
	resize: none;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
}
.ParrafoResultados {
	width: 100%;
	min-height: 20px;
	resize: none;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
}
.ParrafoObservaciones {
	width: 100%;
	min-height: 20px;
	resize: none;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
}
.ParrafoValoraciones {
	width: 100%;
	min-height: 20px;
	resize: none;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
}
.rowForm {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.check {
	width: 50px;
	height: 50px;
	padding: 0px;
}
.containerCheck {
	display: inline-block;
	position: relative;
}
.textCheck {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	z-index: -1;
	font-size: small;
}

.containerCheck:hover .textCheck {
	z-index: +1;
}
.containerCheck:hover .check {
	opacity: 0.07;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
	visibility: hidden;
}
.ConteinerFechas {
	display: flex;
	flex-direction: column;
}
.rowFecha {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid rgb(59, 59, 59);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.formInstituciones {
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.containerModal {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 200px;
	gap: 20px;
}

th{
  font-size: small;
  vertical-align: middle;
}